{% extends "layout2.html" %}
  
{% block title %}Awards and Nominations{% endblock %}
{% block lead %}The First Hong Kong team to become a Finalist{% endblock %}

{% block page %}

<div class="container mx-auto mt-5 w-75 text-center">
    <h1 class="pt-5 mx-auto text-center">
        Second Runner Up
    </h1>
    <div class="outerheadingunder mx-auto mb-3"></div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4 mb-4" style="text-align:justify">
                <div class="row w-30 mx-auto text-center">
                    <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/52475587989-a189ab8a42-c.jpg"></p>
                    <div class="row mt-4">
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-1.jpg"/></p> 
                      </div>
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-2.jpg"/></p>
                      </div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-4.png"/></p> 
                      </div>
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-5.png"/></p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <h5 style="text-align:center">" iGEM was no easy feat. Through endless discussions and improvements, our team achieved something that has never been done in Hong Kong. We are thankful for the experience of our teammates, advisors, and professors who have made contributions and helped us exceed our capabilities. "</h5>
</div>

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Awards and Nominations
    </h1>
    <div class="outerheadingunder mx-auto mb-3"></div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4 mb-4" style="text-align:justify">
                <div class="row w-30 mx-auto text-center">
                    <h5 style="text-align:center"><strong>Special Award - Safety and Security Award</strong></h5>
                    <br>
                    <br>
                    <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-award1.png"></p>
                    <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-7.png" width=60%></p>
                    <br>
                    <br>
                    
                    <hr>
                    <br>
                    <h5 style="text-align:center"><strong>Nominations and Gold Medal</strong></h5>
                    <div class="row mt-4">
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-award2.png"/></p> 
                      </div>
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-award3.png"/></p>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-award4.png"/></p> 
                      </div>
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-award5.png"/></p>
                      </div>
                    </div>
                    <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-igem-gold-medal-1.png"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        News & Social
    </h1>
    <div class="outerheadingunder mx-auto mb-3"></div>
    <!-- <p class="w-80 mx-auto pt-4 pb-4 text-center">
      Although we have always known that the Hong Kong population consumes a large amount of fish regularly, it was nevertheless surprising to see that more than half of the local consumers surveyed consume fish at least twice per week (55/108) and yet there isn’t an established fish inspection standard at retailer handling points. This is one of the many examples of local and global communication that either changed our project direction or made us more certain of the demand for our final product.
    </p> -->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                <h5 style="text-align:center"><strong>HKUST Division of Life Science - Department News</strong></h5>
                <br>
                
                <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/award-3.png" width=80%/></p>
                <p style="text-align:center"><a href="https://life-sci.hkust.edu.hk/2022/11/14/hkust-igem-team-wins-second-runner-up-with-over-350-teams-from-40-countries-that-participated-at-grand-jamboree-in-paris/" class="button" target="_blank">HKUST Department News</a></p>
                <br>

                <hr>

                <br>

                <h5 style="text-align:center"><strong>Local News Articles about Team Fisherly</strong></h5>
                <br>

                <p style="text-align:center"><a href="https://www.thestandard.com.hk/section-news/section/4/248037/Team-catches-prize-at-first-sniff" class="button" target="_blank">The Standard</a> <a href="https://news.mingpao.com/pns/%E6%95%99%E8%82%B2/article/20221208/s00011/1670433482003/%E7%A7%91%E5%A4%A7%E7%94%9F%E7%A0%94%E5%BF%AB%E6%B8%AC%E5%A5%AA%E7%8D%8E-20%E5%88%86%E9%90%98%E6%B8%AC%E9%AE%AE%E9%AD%9A%E9%AE%AE%E5%BA%A6" class="button" target="_blank">Ming Pao Daily News</a> <a href="http://www.hkcd.com/hkcdweb/content/2022/12/07/content_1376754.html" class="button" target="_blank">HK Commercial Daily</a></p>
                <p style="text-align:center"><a href="http://www.takungpao.com/news/232109/2022/1208/795260.html" class="button" target="_blank">Ta Kung Pao</a> <a href="https://epaper.tkww.hk/a/202212/08/AP63910108e4b0a46902cd0bf6.html" class="button" target="_blank">Ta Kung Pao Wen Wei ePaper</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

