{% extends "layout2.html" %}
  
{% block title %}Collaborations{% endblock %}
{% block lead %}Working together to achieve{% endblock %}

{% block page %}

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center" id="collabigem">
        Collaborations
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
        It is our pleasure to working with several different iGEM teams around the globe on various kinds of collaborations, ranging from education outreach to project modelling.  We are glad to share with you our communications and outcomes.
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <h5><strong>1. Collab with Patras (throughout June)</strong></h5>
                  <br>
                  <p>The Patras iGEM team approached us to work on a science communication initiative to create a video series explaining the various different aspects of Synthetic Biology in our native language. The aim of this initiative was to introduce and educate people on SynBio and make SynBio more accessible to people across the world. We created a total of 4 videos (in Cantonese) for this project introducing lab safety and dry lab concepts, SynBio applications and iGEM competition details. In addition to the videos, we also assisted them in translating their educational comic strips into our local language to help them expand their audience population. </p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/collab1.png"/></p>
                  <hr>
 
                  <h5><strong>2. Tainan Symposium (26th June 2022)</strong></h5>
                  <br>
                  <p>We participated in an Asia-wide symposium - the 13th Asian Federation of Biotechnology Regional Symposium (ARS 2022) on the 26Th of June 2022. Our team presented our project idea in the “Synthetic Biology & Protein Engineering” session of the symposium which was organized by the NCKU, Tainan iGEM team. We had the opportunity to learn about the other iGEM projects from this year and asked extensive questions about them.</p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/collab2.png"/></p>
                  <hr>
                
                  <h5><strong>3. Collab with IISER Tirupati</strong></h5>
                  <br>
                  <p>We had our first meeting with the IISER_Tirupati team on the 11th of June 2022, where we discussed aspects of both projects and explored potential areas for collaboration. We discussed the hardware and chassis of both our projects in great detail with them, who provided useful suggestions on improving the technical aspects of our project.</p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/collab3.png"></p>
                  <hr>

                  <h5><strong>4. Collab with Waseda (June 30th)</strong></h5>
                  <br>
                  <p>As our project focuses on fish spoilage detection, we naturally reached out to a team in Japan, another major fish consumer globally. Upon in-depth explanations of our respective projects, we exchanged suggestions and provided alternatives on the technical aspect, including using a cell-free system and optimizing the hardware’s user-friendliness. Due to the physical distance between the two teams and the difference in nature of the two projects, we did not further collaborate in terms of the technical parts.</p>
                  <p>Turning our focus to IHP, we learned that one of their project aims is to alleviate the decelerated population growth in Japan by introducing a product that helps increase the birth rate. Also with a low birth rate in Hong Kong, we agreed that their project would be useful and have a high demand here. Thus, we decided to share our consumer survey questions with each other in order to obtain public opinions from different regions - we received more responses about fish consumption in Japan and they learned more about Hong Kong’s public perception of their product.</p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/collab4.png"></p>
                  <hr>
                
                  <h5><strong>5. Collab with Rochester (June 7th) </strong></h5>
                  <br>
                  <p>We had our first meeting with the University of Rochester team on the 7th of June, 2022 to get to know more about our respective projects and analyze potential areas for collaboration since both teams' projects were based on food spoilage. We found their project, Saptasene, very interesting, especially their three-pronged approach to finding a holistic solution to the problem of maple syrup wastage. Their hardware module's strategy to create a new glucometer to detect the quality of the maple syrup was very impressive and inspired our team to explore similar methods of detecting bioamine levels. Although there were no significant areas to collaborate between the two teams, the meeting proved to be a great science communication exercise.</p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/collab5.png"></p>
                  <hr>

                  <h5><strong>6. Collab with MIT_MAHE (July 5th)</strong></h5>
                  <br>
                  <p>Our first meeting with the MIT_MAHE team was on the 5th of July, where we presented our project ideas and looked for potential areas of collaboration. Upon identifying potential similarities in the IHP aspect (since both teams are working with the seafood industry in our respective geographies) and dry lab, these seemed the most feasible area for collaboration.</p>
                  <p> The initial meeting inspired us to widen our approach toward IHP stakeholder research and conduct deeper research into the Indian seafood market. To facilitate the exchange of stakeholder contacts, the IHP modules from both teams had additional meetings informally. We presented insights from our research and experience with the aquaculture and fish farming industry in Hong Kong and provided contacts of the Hong Kong Fish Marketing Organisation, which proved to be useful to the IHP aspect of their team.</p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/collab6.png"></p>
                  <hr>

                  <h5><strong>7. Collab with CUHK (August  9th 2022)</strong></h5>
                  <br>
                  <p>On August 9th, we held an online meeting with another local university iGEM team, CUHK-HongKong-SBS,  to discuss the details of our respective solutions for solving local issues and see if there is potential for further collaboration. Focusing on a more well-known and equally urgent issue compared to ours, the CUHK team aims to improve the current CAR-T therapy by introducing the antigen-based tumor-recognizing university system. By implementing viral antigen as a key part of their solution, not only is safety ensured but the system also employs existing anti-viral immunity.</p>
                  <p>Although there wasn’t much potential to collaborate in the technical aspect, both teams were inspired by each other’s project ideas and decided to collaborate in other ways, including participating in their Instagram event of posting iGEM-related memes and exchanging contacts with professors with relevant expertise.</p>
                  <hr>

                  <h5><strong>8. Collab with NYCU - Taipei (August 10th 2022)</strong></h5>
                  <br>
                  <p>Intrigued by their project idea at the Tainan Symposium, we reached out to the NYCU-Taipei team and had an in-depth discussion about the usage of degradation tags in our respective circuits. Although their project does not have a specific target usage, we were very impressed by their innovative ways of constructing genetic circuits and integrating them with real-life solutions.</p>
                  <p>With her expertise in degradation tags, Jan from our team also responded to some of the obstacles they faced and provided several suggestions, including doing a restriction enzyme digest check, placing the monitoring camera inside the flask to mediate the shaking issue, and adding an inhibitory sequence after the degron.</p>
                  <hr>

                  <h5><strong>9. Collab with NYCU - Formosa </strong></h5>
                  <br>
                  <p>Attracted by their outreach and public education activities at the Tainan Symposium, we arranged a meeting with the NYCU-Formosa team in an attempt to learn more about their progress and explore the possibility to be more involved in those projects.</p>
                  <p>Their informative animations about various topics on Synthetic Biology inspired us to expand our human practices to the younger population - in addition to our on-campus workshop for high school students. Upon taking inspiration from the several exchanges with the NYCU-Formosa team, we used our local contacts and managed to reserve a workshop timeslot at the Hong Kong Science Museum with an audience mostly composed of families with little children.</p>
                  <p>In addition, the two teams are also planning to collaborate on hosting an online podcast to raise public awareness about synthetic biology - although the details are subject to both teams’ availability.</p>
                  <hr>

                  <h5><strong>10. Collab with UToronto (August 7th 2022)</strong></h5>
                  <br>
                  <p>In addition to collaborating with teams from countries in close proximity to Hong Kong, we also reached out to the Toronto Team, who is working on developing an on-site Oak Wilt detection kit in order to stop its spread across the US-Canada border.</p>
                  <p>Similar to our project, the Toronto team’s project involves collecting samples, amplifying, and producing colorimetric output to provide the users with a quick sign of whether the sample’s quality is compromised or not. With government officials as their target users, the Toronto team inspired us to expand our target group beyond retailers to government bodies once we obtain more wet lab data and confirm the effectiveness of our biosensor.</p>
                  <p>Despite having different target groups, the two teams discussed the potential for collaborating on the Hardware aspect as we struggle with a way to determine the suitable sampling method or area size.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center" id="symposium">
        Symposium
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <p>On August 13th, we hosted the iGEM HKUST Symposium in an auditorium on our campus and invited five other local teams to come and share their projects - with the aim to not only share our respective projects but also the insights that we gained throughout the journey so far. With the efforts of our team members and the university’s security and facilities teams, this event was able to proceed successfully despite the worsening of Covid in Hong Kong at the time.</p>
                  <p>We were honored to have Dr. Jessica Tang from the HKUST Life Science department deliver the Welcoming Address; we also invited Professor Yong Lai and Professor Fei Sun (both from the Department of Chemical and Biological Engineering) to serve as our guest speakers and offer their thoughts on the development and future of synthetic biology’s impacts to the academic and social world.</p>
                  <p>With the social distancing restriction in mind, we invited five other local teams to join our symposium; however, a member from one of the high school teams tested positive for Covid just a few days before the event, resulting in four teams physically joining us on the day, including team HKU, team CUHK, team CityU, and team HK_CPU-WYY. </p>
                  <p>To simulate the presentation style at the Jamboree, each team presented its project along with its challenges and goals within twenty minutes, which is then followed by a twenty-minute Q&A session. Not only was each team able to hear and learn from other teams’ projects, everyone received feedback about their own projects and discovered new ways to improve and collaborate - which is the exact purpose of this symposium.</p>
                  <p>After all the presentations, we held a photo-taking session as well as a mingling session to allow further discussions about specific collaborations to be made. As a token of appreciation, we also gave gift bags to the guest speakers and individual gifts for the participants, some of which were supplied by the Sustainability Office at HKUST upon hearing about our iGEM symposium.</p>
                  <p>All in all, it was a day filled with fruitful discussions and meeting people with similar passions, no matter which age group they are, which school they attend, or which major they study. Having learned more deeply about other teams’ projects, we plan to arrange further collaboration meetings and hopefully meet each other at the Jamboree in Paris again!</p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/symposium1.jpg"/> <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/symposium2.jpg"/></p>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="bnav">
	<div>
		<ul class="bnav__menu">
            <li class="bnav__menuitem">
                <a href="#collabigem" class="bnav__link bnav__link--full-width">Collaboration with iGEM teams</a>
            </li>
            <li class="bnav__menuitem">
                <a href="#symposium" class="bnav__link bnav__link--full-width">Symposium</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock %}
