{% extends "layout2.html" %}
  
{% block title %}Communication and Education{% endblock %}
{% block lead %}Outreach and Learning{% endblock %}

{% block page %}

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Communication
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
      Although we have always known that the Hong Kong population consumes a large amount of fish regularly, it was nevertheless surprising to see that more than half of the local consumers surveyed consume fish at least twice per week (55/108) and yet there isn’t an established fish inspection standard at retailer handling points. This is one of the many examples of local and global communication that either changed our project direction or made us more certain of the demand for our final product.
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <h5 id="survey"><strong>Surveys</strong></h5>
                  <p>From the 250+ responses in the first round of surveys sent to international communities like Hong Kong, Japan, India, France, and Thailand, we obtained other insights that drove the direction of our project.</p>
                  <p>For example, when asked about to what extent is seafood spoilage a serious concern in their local regions, the respondents provided an average score of 5.25 out of 10, indicating that it is a moderately urgent issue that shouldn’t be simply neglected. The responses also suggest that not everyone is well informed about the causative agents responsible for seafood spoilage (an average score of 6.86 out of 10, with 10 being very well-informed).</p>
                  <p>About 58% of the respondents indicate that they would pay more than 10% of the fish's original price for guaranteeing its quality and absence of spoilage. Out of these, 38.7% of them are willing to pay 20% or more to do so, demonstrating their <span style="color:#678BD6;font-weight:bold">priority for food safety over price.</span></p>
                  <p style="text-align:center"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/put-under-surveys-as-well.png" width=80%/></p>
                  <p>Another significant finding is that almost 60% of respondents responded that they have experienced some kind of physical sicknesses after consuming fish or fish products, including but not limited to nausea, vomit, diarrhea, itching, headache, and rash, demonstrating <span style="color:#678BD6;font-weight:bold">how common spoilage poisoning is</span> - despite the limited official statistics.</p>
                  <p style="text-align:center"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/put-under-surveys.png" width=80%/></p>
                  <p>These results are significant as they indicate that while consumers, especially locals, prioritize food safety over all other factors, most of them are not very informed about fish spoilage issues in the local communities or what solutions can be implemented to resolve them. This reinforced our goal to reach out and communicate with other sectors of society - not only to improve our own product but also to discover other ways to solve this local issue.</p>

                  <h5><strong>Social Media</strong></h5>
                  <p>Apart from collaborating with other iGEM teams that attempt to resolve similar problems, we also reached out to the public by using social media and workshops as our main channels of communication.
                  <p>Our active Instagram page regularly posts the various events and workshops we host as well as some quick reads about the social and technical aspects of our project. Our posts range from investigating the existing problems in Hong Kong’s seafood industry to introducing our action plan to explaining how cell-free systems are important in our bioamine testing kits.</p>
                  <p style="text-align:center"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/put-under-social-media-or-make-it-prettier-idk-lol.png" width=60%/></p>

                  <h5><strong>Booth</strong></h5>
                  <p>As one of our university’s missions is to integrate different disciplines into solving real-life problems, it was necessary to introduce our project as well as the iGEM competition to our peers on the HKUST campus; through this, we wish to attract more talents from different fields to contribute in the efforts to make our community a better place. Even though we were not allowed to physically explain to students and professors walking by the posters due to social distancing, we were thrilled to see groups of students stopping by and carefully reading our project overview, from circuit design to hardware prototype to backstory.</p>
                <div class="row text-center">
                    <div class="col text-center">
                      <img class="img-fluid"src="https://static.igem.wiki/teams/4225/wiki/booth.jpeg"/>
                    </div>
                    <div class="col text-center">
                        <img class="img-fluid"src="https://static.igem.wiki/teams/4225/wiki/booth1.jpeg" />
                    </div>
                    <div class="col text-center">
                        <img class="img-fluid"src="https://static.igem.wiki/teams/4225/wiki/booth2.jpeg"/>
                    </div>
                    <p></p>
                </div>

                  <h5><strong>Symposium</strong></h5>
                  <p>On August 13th, we hosted the iGEM HKUST Symposium in an auditorium on our campus and invited five other local teams to come and share their projects - with the aim to not only share our respective projects but also the insights that we gained throughout the journey so far. With the efforts of our team members and the university’s security and facilities teams, this event was able to proceed successfully despite the worsening of Covid in Hong Kong at the time.</p>
                  <p>With the social distancing restriction in mind, we invited five other local teams to join our symposium; however, a member from one of the high school teams tested positive for Covid just a few days before the event, resulting in four teams physically joining us on the day, including team HKU, team CUHK, team CityU, and team HK_CPU-WYY.</p>
                  <p>To simulate the presentation style at the Jamboree, each team presented its project along with its challenges and goals within twenty minutes, which was then followed by a twenty-minute Q&A session. Not only was each team able to hear and learn from other teams’ projects, everyone received feedback about their own projects and discovered new ways to improve and collaborate - which is the exact purpose of this symposium.</p>
                  <div class="row text-center">
                      <div class="col text-center">
                          <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/symposium1.jpg"/> 
                      </div>
                      <div class="col text-center">
                          <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/symposium2.jpg"/>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Education
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center"> 
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <h5><strong>Science Museum Workshop</strong></h5>
                  <p>We also reached out externally to obtain more opportunities for communication with the public. We are proud to be a part of the Hong Kong Science Museum’s Biodiversity Gallery, which serves to educate the public about different aspects of biodiversity through interactive and engaging workshops.</p>
                  <p>On September 4th, we held two 30-minute sessions in the Science Museum to introduce biodiversity to the public and explain how synthetic biology helps to maintain it. As it was a Sunday, most of our audience was families with little children, meaning that we had to explain the scientific concepts using simpler vocabulary and a more engaging tone.</p>
                  <p>We began the session by explaining what synthetic biology is as well as its goals, means, and products; then, we described its real-life application to combat coral bleaching in oceans and diabetes in human bodies. The advantages of synthesized insulin over traditional production methods, including higher purity, lower chance of allergic reactions, and large production, seemed to have intrigued most of our adult audience.</p>
                  <p>Next, we provided a brief introduction to the central dogma of molecular biology and described the four core components of a genetic circuit: promoter, RBS, coding region, and terminator. Equipped with general knowledge of how a circuit is constructed and functions, the participants were given blocks labeled as one of the four aforementioned components. Then, they were asked to assemble the appropriate blocks in the correct order as the final part of the workshop session.</p>
                  <p>In addition to these meaningful interactions, we also received a pleasant surprise hearing from one of the Science Museum managers explaining that the museum is planning to host a brand new section related to BioBricks in the next few years and would love to not only hear suggestions from us but also form a long-term collaboration with us - which sounds like an exciting opportunity for future iGEM teams!</p>
                  <p>Overall, this education reach-out turned out to be very successful as many adults showed interest in this promising and rapidly developing field by asking about its future prospects, and the children also seemed to have enjoyed the circuit-building part a lot. This experience taught us that the public indeed has a great interest in synthetic biology and more efforts from the scientific and academic community are needed to educate and interact with different parts of society.</p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/symposium-science-museum-workshop-booth-1.png"/> <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/symposium-science-museum-workshop-booth-2.png"/> <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/symposium-science-museum-workshop-booth-3.png"/> <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/symposium-science-museum-workshop-booth-4.png"/></p>

                  <h5><strong>Highschool Workshop (August 6th)</strong></h5>
                  <p>Synthetic Biology should not be only limited to laboratories or researchers. We would like to take a step forward and raise the public’s interest in this advancing field along with the amazing impacts that revolutionalise the world.</p>
                  <p>Thus, our team initiated an education workshop with Wah Yan College, Kowloon, a local secondary school. Before the workshop, we designed an interactive presentation, a hands-on mini experiment, and a lab tour for students - according to the suggestions provided by their biology teacher. A total of twenty Grade Ten students and two high school biology teachers visited our laboratory at HKUST.</p>
                  <p>We introduced synthetic biology and how we co-create the project from zero. First, a mini-experiment was held to pique their interest in synthetic biology. By extracting DNA from strawberries, they gained hands-on experience and were amused by the intriguing form of DNA. Next, we brought them to our wet lab for a tour and share our experiment experience with them. Students showed their curiosity about DNA transformation, gel electrophoresis, and the use of pipettes. With their smiles and enthusiasm throughout the whole experience, we were delighted and proud to have organized such a meaningful workshop for the younger generation.</p>
                  <p>In order to understand how effective our presentation was, we conducted an end survey for evaluating our performance and their understanding of the topics that were discussed.</p>
                  <p>The questions and the results of the survey are as follows:</p>

                  <div class="row mt-4">
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/ihp-highschool1-new.jpg"/></p> 
                      </div>
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/ihp-highschool2-new.jpg"/></p>
                      </div>
                      <div class="col-sm">
                        <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/ihp-highschool3-new.jpg"/></p>
                      </div>
                  </div>
                  
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/commedu-new1.png"/> <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/commedu-new2.png"/></p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/commedu-new3.png"/> <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/commedu-new4.png"/></p>
                  <p>As the statistics reveal, the net promotor score (NPS) of overall satisfaction of experience and interest in synthetic biology reached +11 and +8 respectively without any distractors. It suggests that the high school students really enjoyed the workshop and we have successfully increased their interest in synthetic biology significantly. From their feedback, we also see that they have established a basic understanding of synthetic biology and its potential.</p>    

                  <h5><strong>Online Workshop with GnB English School</strong></h5>
                  <p>As we learned that fish bioamine poisoning in South Korea and its regulations are also a relatively serious issue, we decided to host a education workshop at a local school - to both introduce them to synthetic biology and show them how our project helps solve a real-world problem.</p>
                  <p>As they are around the age of eleven to twelve, we began with a brief introduction to bacteria, including beneficial ones to show them that not all bacteria are harmful. By correlating bacteria with processes like fermentation for production of kimchi, cheese, and Yakult, we hope that the students can see how biology has shaped our current lives and will continue to do so.</p>
                  <p>Next, we introduced the basics of recombinant DNA technology using simple visuals as well as insulin production for diabetes patients using E. coli to demonstrate biopharmaceutical applications of genetic engineering. After explaining what our project aims to achieve, we ended the workshop with a Kahoot session to test their knowledge in an entertaining way.</p>
                  <p>Seeing these young students getting excited about the endless possibilities of applications in synthetic biology, we are glad to be part of their introduction to this exciting field and cannot wait to see what they will achieve with their intelligence and curiosity.</p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/education-outreach.jpeg"/></p>

                  <h5><strong>Education in Thai Wet Markets</strong></h5>
                  <p>Originally intended to be an investigation to learn more about the local business needs, this visit to wet markets in Thailand turned out to be an education session as well. While it is no surprise that fish sellers and buyers would not have in-depth knowledge about biology or how spoilage happens, the interest they showed toward our project and the mechanisms it uses to help solve the fish quality inspection problem was unanticipated.</p>
                  <p>Based on our on-site investigation in Hong Kong, fish sellers tend to be annoyed or refuse to answer when surveyed as they were busy selling fish to the consumers or did not want to be investigated. In contrast, fish sellers in Thailand were very welcoming and curious about why and how our project came to be.</p>
                  <p>With a Thai friend serving as a translator, we had an informal education session with these fish sellers during their lunch break. We first explained that bioamines are formed by bacteria in fish when improperly stored - either due to unhygienic environment or high surrounding temperature. Upon asked about the effectiveness of freezing or cooking the fish to reduce bioamines level, we then described that bioamines formation is an irreversible process and studies have shown that cooking fish fillets would not eliminate existing bioamines.We continued by pointing out that a consistent cold chain management is critical for ensuring food safety and that a gap along the chain could lead to sustainable damage.</p>
                  <p>After educating them about the problem, we explained how our product would work in a business setting. Due to their limited biology knowledge, we kept it simple and easy to understand. Upon hearing about the final product, these fish sellers were even more intrigued and asked us to bring the prototype to them if possible.</p>
                  <p>This unexpected education workshop showed us that there remains many sectors in the world that need more education on food safety and the different ways to achieve it, and we genuinely hope that this session would motivate them to take further steps to ensure food safety in their own businesses.</p>
                  <p style="text-align:center"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/put-under-thai-markets.png" width=80%/></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
