{% extends "layout2.html" %}
  
{% block title %}Future Reach{% endblock %}
{% block lead %}Project expansion plan and future goals{% endblock %}

{% block page %}


<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Future Vision
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <p>Apart from patenting our testing kit, we plan to commercialize it by reaching out to more local fish businesses and the HKUST Entrepreneurship Center to seek additional expert opinions. Developing newer versions of the prototype and giving them to real businesses for trial runs would allow us to finetune our hardware and its sensitivity in order to fulfill more specific needs; on the other hand, the resources and professional advice from our university’s Entrepreneurship Center will help us better prepare for our upcoming entrepreneurial path and the challenges that come along.</p>
                  <p>While our project currently only focuses on detecting total bioamines levels in fish products, the advantage of our testing kit lies in that we have a larger degree of freedom to adjust the output based on a predetermined detection range; it can be achieved by substituting a part in the genetic circuit or simply adding bioamines in the solution buffer before testing. This feature will be effective in two ways: 1) assess food products with different total bioamines limits and 2) incorporate our testing kit in regulatory regions with different bioamines upper limits.</p>
                  <p>For example, products like cheese and wine have different bioamine-related regulations. Thus, an adjusted testing kit with a different threshold would allow users to perform quality control measures more conveniently without having to worry about switching between the upper limits for fish and other food products.</p>
                  <p>Another example is fermented fish products; although they are still fish-based, they have a more lenient upper limit for histamine concentration compared to non-fermented fish. It is stated that the upper limit for fermented fish is double that of non-fermented ones. If the same testing kit were to be used for both cases, the result might show that the fermented fish sample is inedible despite it being within its regulatory upper limit.</p>
                  <p>As for implementation in different regulatory regions, our product can be just as flexible in adjusting for the upper limits dictated by different regulatory standards.</p>
                  <p>Thus, our future vision is to continue improving our current hardware and hopefully expand its application to other food products in different regions.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Future Partnership
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <p>Not only did we receive positive feedback from the different Synthetic Biology workshops with high school and middle school students, but we were also approached with an opportunity to form a long-term partnership with the Hong Kong Science Museum, one of the most popular museums in Hong Kong with over 500 interactive exhibits.</p>
                  <p>As we were finishing up the second workshop session, Mr. Brian Ip, the Assistant Curator of the museum, walked over and expressed how he was impressed by how interactive and exciting our activities were for the young audience. With some biology background himself, we discussed in-depth our genetic circuit, what specific problems it solves, and some challenges we faced throughout the journey.</p>
                  <p>Mr. Ip then explained to us that the Science Museum is currently planning to dedicate a new section in the exhibition to Biobricks and Synthetic Biology, and they would like to consult us on the content and ways to deliver knowledge in this seemingly distant field to the general public, seeing how successful our workshops were. Although their project is still in the preparatory stage, we were still excited to hear about this new platform to educate the public, especially the younger generations.</p>
                  <p>With the influence and publicity that the Science Museum offers, we are happy to be the first local iGEM team to initiate a long-term collaboration with them in providing educational and entertaining Synthetic Biology content to the local community.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
