{% extends "layout2.html" %}
  
{% block title %}Diversity and Inclusion{% endblock %}
{% block lead %}Every individual, regardless of background or experience, should have an equal opportunity to engage with scientific knowledge and technological development.{% endblock %}

{% block page %}

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Diversity in Culture
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <p>With the goal to provide an equal opportunity for people of diverse identities to have a voice in science, we actively included opinions and insights from people with different backgrounds and experiences into the development of our project.</p>
                  <p>Within our team, apart from having members from different cultures, including Chinese, Cantonese, Thai, English, Japanese, Korean, Nepalese, and Indonesian, our team also included students with different academic backgrounds, including Biological Science, Biotechnology, Environmental Science, Chemistry, Bioengineering, Physics, Mathematics, Chemical Engineering, Management, and Finance. By exercising cultural and academic inclusivity, we welcomed people who have different opinions about our project due to different experiences to freely express their thoughts. In addition, we also demonstrate gender inclusivity within the team and the spirit of 'women in STEM' by having 13 females and 7 males.</p>
                  <p>We also practiced inclusivity beyond our team by actively reaching out to communities that are rarely associated with synthetic biology. For example, we had in-depth discussions with local low-income fish sellers in Thailand and exchanged thoughts on how synthetic biology could and should be used to benefit our society. Though this community is often regarded as uneducated, they showed us that they also have opinions about how science should be applied to solve real-world problems. Back in Hong Kong, we also discussed about the future of genetic engineering with a father of a typical family after our workshop in the Hong Kong Science Museum. While he has no experience in the field, we saw that he was very eager to learn and articulated his thoughts very well when talking about how the technical part of our project could be expanded.</p>
                  <p>These efforts eliminated the existing barriers and allowed people from different fields of study, genders, social class, and occupation to have a voice in synthetic biology and science.</p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/finalinclusivity-group-photo-min.png"/></p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/women-in-stem-1.jpeg"/></p>
                  <p style="text-align:center;"><img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/women-in-stem-2.jpeg"/></p>
                </div>
            </div>
        </div>
    </div>
</div>
   

{% endblock %}
