{% extends "layout2.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}Notebook{% endblock %}
{% block lead %}Our experiment journey{% endblock %}

{% block page %}

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Lab Notebook Abbreviations
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
      To simplify experiment steps and recording, some abbreviations and keywords were used instead of the full name during our experiments and in the lab notebook. All of them are organised in the following table in alphabetical order:
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Abbreviations</th>
                        <th scope="col">Full Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>BA</td>
                        <td>Bioamine</td>
                      </tr>
                      <tr>
                      <td>C2000</td>
                      <td>Cadaverine 2000 ppm</td>
                      </tr>
                      <tr>
                        <td>CAD</td>
                        <td>Cadaverine</td>
                      </tr>
                      <tr>
                        <td>CH</td>
                        <td>Cadaverine with HCl</td>
                      </tr>
                      <tr>
                        <td>CT</td>
                        <td>Cadaverine with TCA</td>
                      </tr>
                      <tr>
                        <td>EB</td>
                        <td>Extraction buffer</td>
                      </tr>
                      <tr>
                        <td>H2000</td>
                        <td>Histamine 2000 ppm</td>
                      </tr>
                      <tr>
                        <td>HAc</td>
                        <td>Acetic acid</td>
                      </tr>
                      <tr>
                        <td>HH</td>
                        <td>Histamine with HCl</td>
                      </tr>
                      <tr>
                        <td>HIS</td>
                        <td>Histamine</td>
                      </tr>
                      <tr>
                        <td>HT</td>
                        <td>Histamine with TCA</td>
                      </tr>
                      <tr>
                        <td>KDP</td>
                        <td>Potassium dihydrogen phosphate</td>
                      </tr>
                      <tr>
                        <td>MG opt</td>
                        <td>Magnesium acetate optimisation</td>
                      </tr>
                      <tr>
                        <td>Mix 1</td>
                        <td>Bioamine with extraction buffer</td>
                      </tr>
                      <tr>
                        <td>Mix 2</td>
                        <td>Ninhydrin with pH buffer</td>
                      </tr>
                      <tr>
                        <td>MQ</td>
                        <td>Milli-Q water</td>
                      </tr>
                      <tr>
                        <td>NaOAc</td>
                        <td>Sodium acetate</td>
                      </tr>
                      <tr>
                        <td>NIN</td>
                        <td>Ninhydrin</td>
                      </tr>
                      <tr>
                        <td>PEG opt</td>
                        <td>PEG optimisation</td>
                      </tr>
                      <tr>
                        <td>TCA</td>
                        <td>Trichloroacetic acid</td>
                      </tr>
                      <tr>
                        <td>TEMP</td>
                        <td>Temperature</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Lab Notebook
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <p>Our team used the these protocols to perform the following experiments.</p>
                  <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/protocol-final-circuitdesign.pdf" class="button">Circuit Design Protocol</a><a href="https://static.igem.wiki/teams/4225/wiki/protocol-final-cfs.pdf" class="button">Cell Free System Protocol</a><a href="https://static.igem.wiki/teams/4225/wiki/protocol-final-hardware.pdf" class="button">Hardware Protocol</a>
                  </div>
                  <button class="collapsible">Week 1</button>
                  <div class="content" >
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week1.pdf" class="button">Wet Lab</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 2</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week2.pdf" class="button">Wet Lab</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 3</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week3.pdf" class="button">Wet Lab</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 4</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week4.pdf" class="button">Wet Lab</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 5</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week5.pdf" class="button">Wet Lab</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 6</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week6.pdf" class="button">Wet Lab</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 7</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week7.pdf" class="button">Wet Lab</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 8</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week8.pdf" class="button">Wet Lab</a>
                      <a href="https://static.igem.wiki/teams/4225/wiki/hw-week89.pdf" class="button">Hardware</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 9</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week9.pdf" class="button">Wet Lab</a>
                      <a href="https://static.igem.wiki/teams/4225/wiki/hw-week89.pdf" class="button">Hardware</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 10</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week10.pdf" class="button">Wet Lab</a>
                      <a href="https://static.igem.wiki/teams/4225/wiki/hw-week10.pdf" class="button">Hardware</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 11</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week11.pdf" class="button">Wet Lab</a>
                      <a href="https://static.igem.wiki/teams/4225/wiki/hw-week11.pdf" class="button">Hardware</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 12</button>
                  <div class="content" id="week12">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week12.pdf" class="button">Wet Lab</a>
                      <a href="https://static.igem.wiki/teams/4225/wiki/hw-week12.pdf" class="button" id="hwweek12">Hardware</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 13</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week13.pdf" class="button">Wet Lab</a>
                      <a href="https://static.igem.wiki/teams/4225/wiki/hw-week13.pdf" class="button">Hardware</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 14</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/week14.pdf" class="button">Wet Lab</a>
                      <a href="https://static.igem.wiki/teams/4225/wiki/hw-week14.pdf" class="button">Hardware</a>
                    </div>
                  </div>
                  <button class="collapsible">Week 15</button>
                  <div class="content">
                    <div style="text-align:center" class="mt-2 mb-2">
                      <a href="https://static.igem.wiki/teams/4225/wiki/newlab-note-for-week-15.pdf" class="button">Wet Lab</a>
                      <a href="https://static.igem.wiki/teams/4225/wiki/hw-week15.pdf" class="button">Hardware</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

