{% extends "layout2.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Lab Safety and Product Safety{% endblock %}

{% block page %}

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Overview
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <p>With the variety of equipment, reagents, and synthetic organisms in the lab, our team recognizes the importance of safety while carrying out experiments. The following page elaborates on the safety measures and considerations deliberated by our team for this iGEM project.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Product Safety
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                    <h5><strong>Cell-free system and prototype</strong></h5>
                    <br>
                    <p>Since our ultimate goal is to create a user-friendly biosensor for food products, it’s rather significant for us to avoid the exposure of our users to live bacteria in case of their concerns about biosafety. By contrast with whole cells, cell-free system can be made sterile via simple filtration, which provides for a biosafe format for the implementation into real life.</p>
                    <p>Although Fisherly’s biosensor contains highly diluted HCl, we have several safety measures since HCl is a biohazard. First of all, the users are advised to wear a glove prior to testing and avoid direct contact with extraction buffer. Upon skin contact, they are advised to rinse the exposed area under running water for 10 minutes. Secondly, the extraction buffer is advised to poured down the drain with 100 mL of water. Lastly, a biohazard bag is included in the kit, so that the prototype can be placed inside before discarding.</p>
                </div>
            </div>
        </div>
    </div>
</div>                    

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
        Lab Safety
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center">
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <h5><strong>Safety Features of InnoLab</strong></h5>
                  <br>
                  <p>Experimentation is conducted in the HKUST InnoLab of which is equipped with safety features including:</p>
                  <ol>
                    <li>Biosafety Cabinet</li>
                    <li>First Aid Kit</li>
                    <li>Fire Extinguisher</li>
                    <li>Flame Retardant Benches</li>
                    <li>Spill Kits</li>
                  </ol>
                  <p>The Innolab is also within close range of a safety shower and eyewash station.(10 seconds walking)</p>
                  <hr>
                  
                  <h5><strong>Waste Disposal</strong></h5>
                  <br>
                  <p>Students are reminded to label all solutions and plates in addition to proper disposal of waste materials into their respective bins (seperate bins are available for general waste, bio-hazardous waste, and gloves). Pipette tips, gels, eppendorf, and falcons tubes that are used during experiments are disposed of in biohazard waste bins; the contents of which are subsequently passed onto the Health, Safety, and Environment Office (HSEO) and further processed by experienced personnel.</p>
                  <p>Students operating in the laboratory are also under constant supervision by qualified advisors, and perform experiments within working hours.</p>
                  <hr>

                  <h5><strong>Safety training (required by school)</strong></h5>
                  <br>
                  <p>Prior to accessing and working in a laboratory HKUST, students are required to study and pass safety courses prepared by the Health, Safety, and Environment Office (HSEO). Students working in InnoLab are therefore well informed about the dangers of working within a laboratory setting, and are familiar with the steps to mitigate and handle potential mishaps.</p>
                  <p>The three courses students are required to pass are:</p>
                  <ol>
                    <li>Biological Safety</li>
                    <li>Chemical Safety I: Chemical Safety for Laboratory Users</li>
                    <li>Chemical Safety II: Hazardous Waste Management</li>
                  </ol>
                  <hr>

                  <h5><strong>Wet Lab Training</strong></h5>
                  <br>
                  <p>Students performing wet lab experiments during iGEM were given a three-day training period by advisors to familiarize themselves with general biochemical techniques and safety precautions that have to be considered while conducting experiments in InnoLab. Students are taught the correct procedure for basic cloning protocols such as gel electrophoresis, inoculation, plate-spreading etc. </p>
                  <hr>

                  <h5><strong>Biosafety Precautions</strong></h5>
                  <br>
                  <p>Throughout our experimental journey, our team conducted experiments using BL21, DH5α, and Top10 competent E. coli strains. These three strains of E. coli are classified under Biosafety Risk Group 1 and were always handled in an aseptic environment.</p>
                  <hr>

                  <h5><strong>COVID-19 Precautions</strong></h5>
                  <br>
                  <p>Taking into consideration the severity of the COVID-19 pandemic, students are required to wear facemasks at all times in the laboratory facility or other areas on the HKUST campus. InnoLab is restricted to students that have been granted access to the lab within the working hours of 9:00 AM to 5:30 PM on weekdays.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
