{% extends "layout2.html" %}
  
{% block title %}Sustainable Development Goals{% endblock %}
{% block lead %}Our Sustainable Development Goals{% endblock %}

{% block page %}

<div class="container mx-auto mt-5 w-75">
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container w-80 h-80 mx-auto mt-5 mb-5">

      <div class="row mt-4">
        <div class="col">
          <h4><strong>SDG#3: Good Health and Well-being</strong></h4>
          <hr>
          <p>By allowing users to conveniently determine fish spoilage levels, our testing kit <span style="color:#678BD6;font-weight:bold">assures fish quality prior to consumption</span>, greatly reducing the chance of unknowingly consuming spoiled fish and suffering from bioamines poisonings like the Scombroid Fish Poisoning and Tyramine Toxicity. This way, we promote Good Health and Well-being for both local and international fish consumers.</p>
          <p>Extensive research of regulatory practices on the international level shows that a strict and structured Quality Control system like HACCP is essential for ensuring food safety at multiple handling points. It is especially critical to introduce a testing kit like ours in the local market, where a comprehensive framework for standardizing fish quality inspection has not been established yet. Upon further commercialization, our product would serve to be an important tool for implementing such Quality Control systems.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mx-auto mt-5 w-75">
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container w-80 h-80 mx-auto mt-5 mb-5">

      <div class="row mt-4">
        <div class="col">
          <h4><strong>SDG#8: Decent Work and Economic Growth</strong></h4>
          <hr>
          <p>As we investigated the different critical points of the local seafood supply chain, we learned that the current Hong Kong legislative framework does not include strict inspection procedures at the seafood retailer handling point. Considering the global trend of increasing awareness and implementation of food certification, our testing kit will help reduce the existing legislative gap and support the Hong Kong seafood market in reaching the global food certification standards; this will no doubt further <span style="color:#678BD6;font-weight:bold">boost the economic growth of the local seafood sector.</span></p>
          <p>Apart from the regulatory perspective, our product will also improve the overall efficiency of the supply chain by providing a more convenient method for sample inspections. In the past, processed seafood businesses are required to send samples to testing laboratories and wait for days before receiving the results. Our bioamine detector will speed up this process and improve the overall productivity of the seafood sector.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mx-auto mt-5 w-75">
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container w-80 h-80 mx-auto mt-5 mb-5">

      <div class="row mt-4">
        <div class="col">
          <h4><strong>SDG#12: Responsible Consumption and Production</strong></h4>
          <hr>
          <p>According to Professor Yonghua Jiang from Jimei University, “spoilage accounts for at least 10 percent of all seafood production”; discarding seafood resulting from spoilage can occur anywhere in the supply chain, from transportation trucks to retail shops to consumers’ kitchens. Having a device that indicates the fish spoilage level allows users to take appropriate actions before it is too late, which would reduce food waste and help facilitate responsible consumption and production.</p>
          <p>Not only will stakeholders be more responsible when they can monitor the relative spoilage level, but they will also be able to <span style="color:#678BD6;font-weight:bold">implement preemptive measures to reduce the spoilage rate.</span> For example, if a fish processing business realizes that the spoilage detector consistently detects fish spoilage in their products, then they should consider investigating their cold chain management to rectify the problem.</p>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
