{% extends "layout2.html" %}

{% block title %}Members{% endblock %}
{% block lead %}Meet our team members, instructors, and advisors!{% endblock %}

{% block page %}

<div class="container mx-auto mt-5 w-75">
  <h1 class="pt-5 mx-auto text-center">
      Members
  </h1>
  <div class="outerheadingunder mx-auto"></div>
  <p class="w-80 mx-auto pt-4 pb-4 text-center"></p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded-lg">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row team-row">
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-deja-1.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-2"></p>
                               <p>Wet Lab (Module Leader) <br>& Deliverables</p>
                               <p>Major: Biochemistry <br>and Cell Biology</p>
                               <p>Year 4</p>
                               <p>" Chaos is a ladder "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Yi Kai CHAN, Deja</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-grace.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                               <p><br>Wet Lab</p>
                               <p>Major: Ocean Science and Technology</p>
                               <p>Year 2</p>
                               <p>" Don’t have to care about the results! "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Qingyan LI, Grace</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-coby-1.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-4"></p>
                               <p>Wet Lab & Deliverables</p>
                               <p>Major: Life Science</p>
                               <p>Year 2</p>
                               <p>" Fisherly - a TUNAble solution! "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Man Yee NGAI, Coby</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-mira-1.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                               <p class="pt-4"></p>
                               <p>Wet Lab</p>
                               <p>Major: Biotechnology</p>
                               <p>Year 3</p>
                               <p>" Is someone making <br>ramen or LB? "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Mridini Prashant MEHTA</h6>
                </div>
              </div>
              <!-- end team member -->
            </div>
            <div class="row team-row mt-4">
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-audrey.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-4"></p>
                                <p>Dry Lab (Module Leader)</p>
                                <p>Major: Biotechnology</p>
                                <p>Year 4</p>
                                <p>" Short questions with long answers is my thing. "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Daye Kwon, Audrey</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-nara.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-4"></p>
                                <p>Hardware</p>
                                <p>Major: Chemical Engineering</p>
                                <p>Year 2</p>
                                <p>" Mitochondria is the powerhouse of the cell "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Dinara SYAHIDA</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-dowon.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p></p>
                                <p>Dry lab</p>
                                <p>Major: Bioengineering</p>
                                <p>Year 3</p>
                                <div class="mx-auto" style="padding-left: 20px">
                                    <p style="text-align:left">while(isDowon):<br>print(“Hello World. I am always looking for a motivation.”)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Dowon KWAK, Jacob</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-ivor.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-1"></p>
                                <p>Integrated Human Practices</p>
                                <p>Major: Biotechnology and Business</p>
                                <p>Year 3</p>
                                <p>" Hi there, <br>want to learn SynBio? "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Hou Sang YAM, Ivor</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
            </div>
            <div class="row team-row mt-4">
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-jan.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-2"></p>
                                <p>Circuit Design <br>(Module Leader)</p>
                                <p>Major: Biochemistry <br>and Cell Biology</p>
                                <p>Year 3</p>
                                <p>" Our results are fishy :) "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Janviere YAU</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-lily.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-3"></p>
                                <p>Hardware (Module Leader) <br>& Wet Lab</p>
                                <p>Major: Biotechnology</p>
                                <p>Year 3</p>
                                <p>" Huh? What is sleep? "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Jihye PARK, Lily</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-jintaek.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-4"></p>
                                <p>Dry Lab & Deliverables</p>
                                <p>Major: Bioengineering</p>
                                <p>Year 3</p>
                                <p>
                                    " MY FIRST WEBSITE ㅜㅜ "
                                </p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Jintaek OH</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-jy.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-4"></p>
                                <p>Hardware & Deliverables</p>
                                <p>Major: Biotechnology</p>
                                <p>Year 3</p>
                                <p>" This wiki is my SOUL :) <br>Horanghae! "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Jiyeon SON</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
            </div>
            <div class="row team-row mt-4">
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-toby.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-5"></p>
                               <p>Dry Lab</p>
                               <p>Major: Physics</p>
                               <p>Year 2</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Kwan To CHAN, Toby</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-leons.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-4"></p>
                               <p>Circuit Design & Dry Lab</p>
                               <p>Major: Chemistry</p>
                               <p>Year 3</p>
                               <p>" Has not experienced what life's all about "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Leon Ritchie SALIM</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-leong.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                               <p>Integrated Human Practices <br>(Module Leader)<br>& Dry Lab</p>
                               <p>Major: DDP in Chemical Engineering and Finance</p>
                               <p>Year 3</p>
                               <p>" I love explaining modeling results to Thai fish sellers "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Leong CHENG</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-angie.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-4"></p>
                               <p>Circuit Design</p>
                               <p>Major: Biotechnology</p>
                               <p>Year 3</p>
                               <p>" Who stole my bands? "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Man Ping LEE, Angie</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
            </div>
            <div class="row team-row mt-4">
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-minjin.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                               <p class="pt-1"></p>
                               <p>Deliverables (Module Leader) <br>& Integrated Human Practices</p>
                               <p>Major: DDP in Bioengineering and Management</p>
                               <p>Year 3</p>
                               <p>" Hi! "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Minjin GU</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-payal.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-3"></p>
                               <p>Hardware</p>
                               <p>Major: Biotechnology and Business</p>
                               <p>Year 3</p>
                               <p>" Experiment. Learn. Repeat. "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Payal GURUNG</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-sherman.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-3"></p>
                               <p>Circuit Design</p>
                               <p>Major: Biochemistry <br>and Cell Biology</p>
                               <p>Year 4</p>
                               <p>" I’m Still Cloning "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Sherman CHAU</h6>
                    <p class="pb-2 team-dec"></p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-sneha.png" alt="">
                        <div class="overlay2">
                            <div class="team-details text-center">
                                <p class="pt-3"></p>
                               <p>Hardware</p>
                               <p>Major: Biotechnology</p>
                               <p>Year 3</p>
                               <p>" Wouldn’t be here without coffee "</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Sneha Priam RAJESHIRKE</h6>
                </div>
              </div>
              <!-- end team member -->
         </div>
         <div class="text-center mt-4 mx-auto">
            <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/igem-group-photo.jpeg"/>
            <h6 class="team-title">HKUST iGEM 2022: Fisherly</h6>
         </div>
        </div>
    </div>
</div>

<div class="container mx-auto mt-5 w-75">
  <h1 class="pt-5 mx-auto text-center">
      Advisors & Instructors
  </h1>
  <div class="outerheadingunder mx-auto"></div>
  <p class="w-80 mx-auto pt-4 pb-4 text-center"></p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded-lg">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row team-row">
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-chloe.png" alt="">
                    </div>
                    <h6 class="team-title">Chloe NG-BROSSARD</h6>
                    <p class="mb-2 team-dec">Advisor</p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-diya.png" alt="">
                    </div>
                    <h6 class="team-title">Diya <br>AGRAWAL</h6>
                    <p class="mb-2 team-dec">Advisor</p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-siufung.png" alt="">
                    </div>
                    <h6 class="team-title">Siu Fung, NG</h6>
                    <p class="mb-2 team-dec">Advisor</p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-andreas.png" alt="">
                    </div>
                    <h6 class="team-title">Qian Xin LI, <br>Andreas</h6>
                    <p class="mb-2 team-dec">Advisor</p>
                </div>
              </div>
              <!-- end team member -->
            </div>
            <div class="row team-row mt-3">
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-owen.png" alt="">
                    </div>
                    <h6 class="team-title">Ou Ning HSIU, Owen</h6>
                    <p class="mb-2 team-dec"><br>Advisor</p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-kc.png" alt="">
                    </div>
                    <h6 class="team-title">Prof. King CHOW</h6>
                    <p class="mb-2 team-dec">Instructor</p>
                </div>
              </div>
              <!-- end team member -->
              <div class="col team-wrap">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img class="img-fluid" src="https://static.igem.wiki/teams/4225/wiki/member-jessica.png" alt="">
                    </div>
                    <h6 class="team-title">Dr. Jessica TANG</h6>
                    <p class="mb-2 team-dec">Instructor</p>
                </div>
              </div>
              <!-- end team member -->
            </div>
        </div>
    </div>
</div>


{% endblock %}
