{% extends "layout2.html" %}

{% block title %}Protocols{% endblock %}
{% block lead %}The recipe to our success{% endblock %}

{% block page %}

<div class="container mx-auto mt-5 w-75">
    <h1 class="pt-5 mx-auto text-center">
    </h1>
    <div class="outerheadingunder mx-auto"></div>
    <p class="w-80 mx-auto pt-4 pb-4 text-center"> 
    </p>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container w-80 h-80 mx-auto mt-5 mb-5">
            <div class="row mt-4" style="text-align:justify">
                <div class="col">
                  <p>protocol</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
